{% extends 'index.html.twig' %} 



{% block content %}

    {% for film in films %}
   
    <div class="container-fluid d-flex flex-column flex-sm-column flex-md-column flex-lg-row"> 
        <div class="image">
            <img src="{{film.image_film}}" alt="img"> 
            </div>
        <section class="contenue">
            <div>
                <h2>{{film.titre}}</h2>
            </div>
            <div>
                <p>Date de sortie : {{film.annee}}</p>
            </div>
            <div>
                <p>
                De : {{film.realisateur}}
                </p>
            </div>
            <div>
                <p>Avec : {{film.acteur}}</p>
            </div>
            <div>
                <p>Genre : {{film.genre}}
                </p>
            </div>
            <div>
                <p>Synopsis : {{film.description}}</p>
            </div>
            <div>
                <p class="showBandeAnnonce">Voir la bande annonce</p>
                <p class="hideBandeAnnonce">Cacher la bande annonce</p>
            </div> 

        </section>
    </div>
       <div class="container-fluid bande_annonce">
        <iframe width="560" height="315" src="{{film.bande_annonce}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% endfor %}
  

{%  endblock %}

{% block menugenre %}
            <section class="container-fluid justify-content-center affichage_genre row" >
                {% for genre in genres %}
                <a href="films/genre/{{genre.id}}">{{genre.type}}</a>
                {% endfor %}

            </section>
{%  endblock %}
  